body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
#logo img
{
    width: 80px;
	height: 55px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;

}

.menu :hover
{
    color: #0065FC;
    border-bottom: 3px 
    border-top: solid;
    border-color: #0065FC;
    padding-top: 25px;
}

#logo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#localisation {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;    
}

#localisation {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;  
}

#search {
    display: flex;
    align-items: center;
}

.bouton-recherche {
  color: white;
  cursor: pointer; 
}

.bouton-recherche:hover {
  color: #0065fc;
  background-color: #f2f2f2;
}

.bouton-recherche{ 
 height: 50px;
  width: 130px;
  font-size: 15px;
  color: white;
  font-weight: bolder;
  margin-right: 5px;
}

.bouton-recherche {
    background-color: #1F89FA;
    border-radius: 0 10px 10px 0;
    border: lightcoral;
}

.border-search {
    border: lightcoral;
}


.filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .texte-filtres:hover {
 color: #0065fc;
}

.texte-filtres {
  display: flex;
  align-items: center;
}
 /* contour icone filtre */
.contour-icones {
  margin-left: -2px;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  background-color: #deebff;
}
.contour-icones
{
  width: 140px;
  height: 40px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
} 

/*contour filtres*/
.texte-filtres {
  width: 140px;
  height: 40px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
.texte-filtres{
    flex-direction: row;
}

#hebergements{
    display: flex;
    flex-direction: column-reverse;
}

.bloc1 {
  height: 150px;
  width: 300px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
}

.bloc2 {
  height: 150px;
  width: 300px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
}

.icone{
padding-left: 11px;
padding-top: 11px;
}